<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.attwoodthomas.yourplanner.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:label="@string/title_activity_third"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FourthActivity"
            android:label="@string/title_activity_fourth"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FifthActivity"
            android:label="@string/title_activity_fifth"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SixthActivity"
            android:label="@string/title_activity_sixth"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SeventhActivity"
            android:label="@string/title_activity_seventh"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".EigthActivity"
            android:label="@string/title_activity_eigth"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".HomeworkActivity"
            android:label="@string/title_activity_homework"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MeritsActivity"
            android:label="@string/title_activity_merits"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="@string/title_activity_add"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SpendActivity"
            android:label="@string/title_activity_spend"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".NameActivity"
            android:label="@string/title_activity_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
